.bkg1 {
  background-color: plum;
}
.bkg2 {
  background-color: lightcoral;
}
.bkg3 {
  background-color: lightgreen;
}
.bkg4 {
  background-color: lightblue;
}
.bkg5 {
  background-color: lightsalmon;
}
.bkg6 {
  background-color: blue;
}
